h1
{
    text-align: center;
    font-family: Ubuntu;
    margin-bottom: 0px;
}

body{
    background-color: #f2a6a6;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

table
{
    border: dotted 5px darkmagenta;
    margin: 10% auto 0 auto;
}
