h1
{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 2.5em;
    margin: 0px;
    margin-top: 2px;
    border: dot-dot-dash 1px darkorchid;
}

h2
{
    font-family: 'Great Vibes', cursive;
}

body{
    background-color: #f2a6a6;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

table
{
    border: dotted 5px darkmagenta;
    margin: 0 auto 0 auto;
}

.credits
{
    display: inline;
    margin: 0px;
    font-family: 'Chilanka', cursive;
    size: 1em;
    text-align: center;
}

